body{
  margin: 0px auto;
  background-image: url("../img/fondo13.jpeg");
}
.titulo{
  color: blue;
text-align: center;
border-bottom: 2px;
border-bottom-color: red;
border-bottom-style: solid;
letter-spacing: 10px;
margin-top: 0px;
}
.izq{
text-align: left;
margin-left: 100px;
  margin-top: 10px;

}


.der{
float:right;
margin-right:  100px;
  margin-top: 10px;
  height: 150px;

}
.logos{
  margin-bottom: 0px;
}

.centrado{
color: white;
margin-left: auto;
margin-right: auto;
border-bottom: 2px;
border-bottom-color: yellow;
border-bottom-style: solid;
margin: 0px auto;
overflow: hidden;
}
focus { outline: none; }
.silencio{
  padding-left: 100px;
  padding-right: 100px;
  float: left;
}
.ganga{
padding-left: 100px;
padding-right: 100px;
float: left;

}

.reseñas{
padding-left: 100px;
padding-right: 100px;
float: left;

}
.fecha{
  text-align:right;
    font: 250% serif;
    margin-right: 100px;

}
.elaboro{
  color:aqua;
}
a{
  color: #066DFD;
  font-size: 20px;
}
.hora{
  color: blue;
}
