body{
  margin: 0px auto;
  background-image: url("../../img/fondo5.jpg");
  margin: auto 0px;
}

h1{
color: black;
border-bottom: 2px;
border-bottom-color: green;
border-bottom-style: solid;
}

a{
  color:black;
  font-size: 150%;
}
.opinion{
 line-height: 25px;
  max-width: 900px;
  margin: 0 auto;
  background-color: #7589D2;
  font-size: 18px;
  border: 10px;
  padding: 8px;
  border-color: #F36D6D;
  border-radius: 30px;
  text-align: justify;
  border-top-style:groove;
  border-bottom-style:groove;
  border-left-style:groove;
  border-right-style:groove;
}
.capote{
border: 5px;
border-top-style: solid;
border-color: #cyan;
color:#black;
text-align: center;
padding-top: 30px;
}
.edgar{
  color:#black;
  text-align: center;
}
.lateral{
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
.lateral-1{
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}
